{% extends 'base.html.twig' %}

{% block title %}Espace client - Mes produits{% endblock %}

{% block body %}
    <h1 class="mb-5">Mes produits</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>Prix (€)</th>
                <th>En promotion</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if product.discount is not null %}
                    <td>{{ product.discount.discountPrice }}</td>
                    <td>
                        <i class="fa fa-tag"></i>
                    </td>
                {% else %}
                    <td>{{ product.price }}</td>
                    <td>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </td>
                {% endif %}
                <td>{{ product.image }}</td>
                <td class="btn-space">
                    <a href="{{ path('profile_product_show', {'userId': app.user.id, 'productId': product.id}) }}"><i class="fa fa-info" aria-hidden="true"></i></a>
                    <a href="{{ path('profile_product_edit', {'userId': app.user.id, 'productId': product.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de produits trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-green" href="{{ path('profile_product_new', {'userId': app.user.id}) }}">Nouveau produit</a>
{% endblock %}
