{% extends 'base.html.twig' %}

{% block title %}Espace client - Mes produits{% endblock %}

{% block body %}

    <h1>Mes produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>Prix (€)</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <a href="{{ path('profile_product_show', {'userId': app.user.id, 'productId': product.id}) }}">Détail</a>
                    <a href="{{ path('profile_product_edit', {'userId': app.user.id, 'productId': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de produits trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_product_new', {'userId': app.user.id}) }}">Nouveau produit</a>
{% endblock %}
