<footer>

    <div class="foot">
      <img src ="{{ asset('assets/img/logo/discount.png') }}"  class="foot_logo">
      <p  class= "copy" >&copy Fiverr International Ltd. 2021</p>
    </div>
  <div class="reseaux">
    <img src="{{ asset('assets/img/reseau/instagram.png') }}"  class="foot_inst">
    <img src="{{ asset('assets/img/reseau/twitter.png') }}"  class="foot_twit">
    <img src="{{ asset('assets/img/reseau/youtube.png') }}"  class="foot_yout">
    <img src="{{ asset('assets/img/reseau/facebook .png') }}"  class="foot_fbk">
  </div>

 </footer>    
 



   